h1{
    color:blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: blue;
    color: aliceblue;
}

.box{
    height:100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}